<script setup lang="ts">
import { ref } from 'vue';

  const weight = ref(0)
  const height = ref(0)
  const result = ref(0)
  const calculateBMI = () => {
       result.value = weight.value/((height.value/100)**2)
      
    };
</script>
<template>
  <div>น้ำหนักตัว(kg.)</div>
  <div><input type="text" v-model="weight"></div>
  <div>ส่วนสูง (cm.)</div>
  <div><input type="text" v-model="height" ></div>
  <div><button @click="calculateBMI" >คำนวณ</button></div>
  <div>{{ result }}</div>
</template>

<style scoped>
</style>